<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/add">Add</a>
    <a href="/update">Update</a>
    <a href="/delete">Delete</a>
    <a href="/search">Search</a>
    <br><br>
    <p><%= message %></p>
    <h2>Enter the values on the form below: </h2>
    <form action="" method="POST">
        Location name:<br>
        <input type="text" name="locationname" placeholder="Enter location name">
        <br>
        Category:<br>
        <input type="text" name="category" placeholder="Enter category">
        <br>
        Latitude:<br>
        <input type="text" name="latitude" placeholder="Enter latitude">
        <br>
        Longiture:<br>
        <input type="text" name="longitude" placeholder="Enter longitude">
        <br><br>
        <input type="submit" value="Submit">
      </form> 
      
  </body>
</html>