<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>
  <img width="300" src="https://upload.wikimedia.org/wikipedia/en/5/56/Maharishi_University_of_Management_logo_1.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<nav>
  <ul>

    <li>
      <h2><a [routerLink]="['home']">Homepage</a></h2>
    </li>
    <li>
      <h2><a [routerLink]="['students']">Students</a></h2>
    </li>

  </ul>
</nav>
<router-outlet></router-outlet>
